body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="number"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: calc(100% - 22px);
    display: block;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}


.chart-header {
    display: flex;
    align-items: center; /* Aligns items vertically in the center */
    flex-wrap: wrap; /* Allows items to wrap to the next line if necessary */
    gap: 10px; /* Spacing between items */
}

.chart-header h2 {
    margin: 0; /* Removes default margin to keep elements on the same line */
    white-space: nowrap; /* Prevents the heading from wrapping */
}

toggleParams {
	cursor: pointer;
        color: #007bff;
        text-decoration: underline;
        font-size: 18px; /* Larger font size */
        padding: 10px; /* Some padding around the text */
        border-radius: 5px; /* Rounded corners */
        transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
    }

    #toggleParams:hover {
        background-color: #007bff; /* Change background on hover */
        color: white; /* Change text color on hover */
    }

    #paramsForm {
        border: 1px solid #007bff; /* Add a border to the form */
        border-radius: 5px; /* Rounded corners for the form */
        padding: 20px; /* Padding inside the form */
        margin-top: 10px; /* Some space between the toggle and the form */
        box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2); /* A subtle shadow for depth */
        transition: opacity 0.5s ease; /* Smooth transition for appearing and disappearing */
    }
