body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #333;
    color: #fff;
}

h1, h2 {
    color: #fff;
}

form {
    background: #444;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

input[type="text"],
input[type="password"],
input[type="number"],
select {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #666;
    border-radius: 4px;
    width: calc(100% - 22px);
    display: block;
    background-color: #555;
    color: #fff;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

button:hover {
    background-color: #007bff;
    color: white;
}

.chart-header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.chart-header h2 {
    margin: 0;
    white-space: nowrap;
    color: #fff;
}

.toggle-params {
    cursor: pointer;
    color: #007bff;
    text-decoration: underline;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    background-color: #333; /* Match background color */
    transition: background-color 0.3s, color 0.3s;
}

.toggle-params:hover {
    background-color: #007bff;
    color: white;
}

.params-form {
    border: 1px solid #007bff;
    border-radius: 5px;
    padding: 20px;
    margin-top: 10px;
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
    transition: opacity 0.5s ease;
}

.ea-log {
    border: 1px solid #ccc;
    height: 200px;
    overflow-y: scroll;
    padding: 10px;
    background-color: #f9f9f9;
}

/* Centered Asset Popup */
.asset-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #444;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.asset-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
}

.asset-item {
    padding: 10px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}

.asset-item.disabled {
    background-color: #777;
    cursor: not-allowed;
}

.hidden {
    display: none;
}

.login-form {
    width: 300px;
    margin: auto;
    padding: 20px;
    background: #444;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.login-form h2 {
    margin: 0 0 20px 0;
    color: #fff;
}

.login-message {
    color: red;
    margin-top: 10px;
}

.demo-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.demo-button:hover {
    background-color: #007bff;
    color: white;
}

.localEAManagement-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

.localEAManagement-Button:hover {
    background-color: #007bff;
    color: white;
}

.range-info {
    margin-top: 10px;
    color: #fff;
}

.range-bar {
    margin: 5px 0;
}

.range-bar-inner {
    height: 10px;
    background-color: #007bff;
    border-radius: 5px;
    position: relative;
}

.range-bar-inner::after {
    content: '';
    width: 10px;
    height: 10px;
    background-color: #ff0000;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    transform: translateX(-50%);
}
